@font-face {
    font-family: '8bit';
    src: url('../fonts/8-BIT%20WONDER.TTF');
}
@font-face {
    font-family:'visitor1';
    src: url('../fonts/visitor1.ttf');
}
@font-face {
    font-family:'visitor2';
    src: url('../fonts/visitor2.ttf');
}