body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

.main-container {
    height: 99%;
}

.landing-page-container {
    background: #e4d9c1 url("../images/background.jpg") no-repeat center center/ contain;
    height: 100%;
    padding: 1px 10px;
}

.landing-page-container.color-picker {
    background-position: right center;
}

.landing-page {
    width: 80%;
    margin: 0 auto;
}

.landing-page h1 {
    text-align: center;
    font: 50px/60px 'visitor1', 'visitor2', 'arial';
    margin: 10px 0;
}

.landing-page p {
    font: 18px/25px 'visitor1', 'visitor2', 'arial';
    text-align: center;
}

.btn {
    min-width: 200px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    opacity:0.9;
}
.btn:hover{
    opacity:1;
}
.btn-blue {
    background: #1E1D56;
    box-shadow: 2px 0 2px #020202;
    color: #dcd8d8;
}

.btn-black {
    background: #020202;
    box-shadow: 2px 0 2px #020202;
    color: #dcd8d8;
}

.google-oauth-btn div{
    margin:0 auto;
}

.btn-block {
    margin: 20px 20px 10px;
    text-align: center;
}

.color-picker-list {
    display: block;
    text-align: center;
    margin: 5% 0 7% 22.5%;

}

.color-picker h1 {
    font: 30px/35px 'visitor1', 'visitor2', '8bit', arial;
}

.color-picker-list li {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 5px;
    float: left;
    -webkit-box-shadow: 2px 0 2px #020202;
    -moz-box-shadow: 2px 0 2px #020202;
    box-shadow: 2px 0 2px #020202;
    cursor: pointer;
}

.color-picker-list li.selected {
    cursor: default;
}

.color-picker-list li.selected, .color-picker-list li:active, .color-picker-list li:focus, .color-picker-list li:hover {
    box-shadow: 2px 0 5px #020202;
}

ul::after {
    display: block;
    clear: both;
    content: "";
}

table.grid {
    border: 0;
}

.grid-container {
    position: relative;
    background: orange;
    display: inline-block;
}

table.grid td {
    border-radius: 50%;
    height: 5px;
    width: 5px;
    background: transparent;
    color: transparent;
}

.player-icons {
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 10;
    border-radius: 50%;
}

@media (min-width: 768px) {
    .landing-page {
        width: 40%;
        margin-top: 150px;
    }
}
