<div>
    This is Game Component
    <a href="javascript:void(0)" (click)="joinGame()">Join the Game</a>
</div>
<div class="grid-container">
    <table class="grid" cellpadding="0" cellspacing="0">
        <tr *ngFor="#row of payloadGrid; #i=index">
            <td *ngFor="#column of row; #j=index" [ngClass]='{"has-color":players[payloadGrid[i][j]]}'
                [ngStyle]="{'background-color': '#fff' && players[ payloadGrid[i][j] ] && players[ payloadGrid[i][j] ].color}"
                    >

            </td>
        </tr>
    </table>
</div>
<scoreboard [playerRatings]="playerRatings"></scoreboard>

