<div>
    This is Game Component
    <a href="javascript:void(0)" (click)="joinGame()">Join the Game</a>
</div>
<div class="grid-container">
    <table class="grid" cellpadding="0" cellspacing="0">
        <tr *ngFor="let row of payloadGrid; let i=index">
            <td *ngFor="let column of row; let j=index" [ngStyle]="{'background-color': '#fff' && players[ payloadGrid[i][j] ] && players[ payloadGrid[i][j] ].color}">
            </td>
        </tr>
    </table>
    <div class="player-icons" *ngFor="let playerId of playersArray"
    [ngStyle]="{'top': (5*playerId.position.x - 10)+'px', left: (5*playerId.position.y -10)+'px', background: playerId.color}">
    </div>
</div>
<scoreboard [playerRatings]="playerRatings"></scoreboard>

