<p>Doesn't matter if you are a first time user. Just enter your preferred username and password and GET STARTED :)</p>

<div class="landing-page-container">
    <div class="landing-page">
        <h1>
            The Duck Hunters
        </h1>

        <p>
            Quack Quack Quack Quack Quack Quack Quack Quack Quack Quack Quack Quack Quack Quack Quack Quack Quack
            Quack Quack Quack Quack Quack Quack Quack
        </p>

        <div class="btn-block">
            <a href="javascript:void(0)" class="google-btn btn"> Sign In</a>
        </div>
    </div>
</div>
